.search-pane {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.search-pane > .loading,
.search-pane > .playlist-container {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
